.platformBackground {
  background-image: url("img/sample_background.jpg");
}

.centerItem {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centerText {
  text-align: center;
}

.leftItem {
  float: left;
}

.rightItem {
  float: right;
}

.testing {
  border: 2px violet solid;
}